.header_subtitle {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}

.country_location {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
}

.locations_found{
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: 530;
  line-height: 17.07px;
}

@media (max-width: 640px) {
  .header_subtitle {
    padding: 10px 20px;
  }
}
